@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 193, 158);
    font-family: 'Open Sans', sans-serif;
    color: #5459ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 20px;
    margin: 0;
    width: 800px;
    max-width: 100%;
}

aside {
    padding: 10px;
    width: 200px;
}

button {
    cursor: pointer;
    background-color: lightblue;
    border: 0;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

main {
    flex: 1;
    padding: 10px;
}

h2 {
    border-bottom: 1px solid ;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px;
}

h3 {
    background-color: lightcyan;
    border-bottom: 1px solid ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}

.person {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}