

:root {
    --modal-duration: 1s;
    --primary-color: #227093;
    --secondary-color: #dlccc0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

nav {
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200,200,200,0.1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 100;
    transform: translateX(-100%);
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    border-bottom: 2px solid rgba(200,200,200,0.1);
    padding: 20px;
}

nav ul li:first-of-type {
    border-top: 2px solid rgba(200,200,200,0.1);
}

nav ul lo a {
    color: white;
    text-decoration: none;
}

nav ul lo a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--primary-color);
    color: white;
    font-size: 150%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 30px 0;
}

button {
    background-color:  var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    padding: 8px 10px;
}

button:focus {
    outline: none;
}

.toggle {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
}

.cta-btn {
    padding: 10px 30px;
    font-size: 24px;
}

.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

.modal-container {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
}

.modal-header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
}

.modal-header h3 {
    margin: 0;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form input {
    padding: 10px;
    width: 100%;
}

.close-btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: white;
}